TensorFlow CNN/Week 2/data/
TensorFlow CNN/Week 2/Models/
TensorFlow CNN/Week 3/inception_v3_weights_tf_dim_ordering_tf_kernels_notop.h5
TensorFlow CNN/Week 4/data/
TensorFlow CNN/Week 4/sign_mnist_test.csv
TensorFlow CNN/Week 4/sign_mnist_train.csv
TensorFlow Fundamentals/Week 2/Fashion MNIST Data/
TensorFlow Fundamentals/Week 2/mnist.npz
TensorFlow Fundamentals/Week 4/data/
TensorFlow Fundamentals/Week 4/Models/
TensorFlow NLP/Week 1/data/
TensorFlow NLP/Week 2/data/
TensorFlow NLP/Week 3/data/
TensorFlow NLP/Week 4/data/
Tensorflow Time Series Modelling/Week 1/Sunspots.csv